<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% block title %}<title>Phasal</title>{% endblock %}
  <link rel="icon" href="{% static 'plantbase/img/phasal.png' %}" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <!-- Add additional CSS in static file -->


    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'plantbase/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'plantbase/css/styles.css' %}">
    <!-- CSS END -->

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- FONTS END -->


</head>
<body>
  <div class="container background-slate-blue">
    <header class="grid-x" id="main">
      <div class="cell large-4">
        <div class="brand">
          <a href="#">@UltimateGroup</a>
        </div>
      </div>
      {% block sidebar %}
      <nav class="cell large-8" id="main">
        <ul >
          <li><a href="{% url 'reports' %}">Reports</a></li>
          <li><a href="{% url 'index_physician' %}" class="button button-primary">Home</a></li>
        </ul>
      </nav>
      {% endblock %}
    </header>
   </div>
  <div>{% block content %}{% endblock %}</div>
  </body>
</html>
