{% extends "phasal/base_generic_harvestor.html" %}
{% load static %}
{% block content %}
<div class="container background-slate-blue">
  <div class="grid-x feature">
    <div class="cell large-8">
      <h2>Phasal</h2>
      <h1>AI Crop Information System.</h1>
    </div>
    <div class="cell large-3">
      <img class="logo" src="{% static 'plantbase/img/phasal.png' %}" style="width:400px;height:400px;" alt="PHASAL">
    </div>
  </div>
</div>
<div class="container-spacy features">
  <div class="grid-x">
    <div class="large-12 cell">
      <a class="button button-secondary" href="{% url 'upload_photo' %}">Upload Image</a>
    </div>
  </div>
</div>

{% endblock %}
