{% extends "phasal/base_generic_harvestor.html" %}
{% load static %}
{% block content %}
<div class="container-spacy background-green listview">
  <h2>List of News</h2>
  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>


  {% if news_list %}
  <!-- <ul class="lined-list"> -->
    <div class="grid-x">
      {% for news in news_list %}
      <!-- <li> -->

        <div class="cell large-4">
          <div class="item background-slate-blue">
            <a class="lined-list" href="{{ news.get_absolute_url }}?id={{ news.id }}">{{ news.title }}</a> 
            <p>({{news.date}})</p>
            <p>({{news.meta_keyword}})</p>
          </div>
        </div>

      <!-- </li> -->
      {% endfor %}
    </div>
  <!-- </ul> -->
  {% else %}
  <p>There are no newss in the plantbase.</p>
  {% endif %}

</div>
{% endblock %}
