{% extends "phasal/base_generic_harvestor.html" %}
{% load static %}
{% block content %}

  <div class="container-spacy background-green listview">

    <h2>{{ news.title }}</h2>
    <h3><a class="lined-list" href="">{{ news.date }}</a></h3>
    <p>{{ news.meta_keyword }}</p>
    <p>{{ news.meta_description }}</p>
    <p>{{ news.content }}</p>
    <p>{{ news.weekday }}</p>
    <p>{{ news.month }}</p>
    <p>{{ news.source }}</p>

  </div>
{% endblock %}
