{% extends "phasal/base_generic_plantbase.html" %}
{% load static %}
{% block content %}

  <div class="container-spacy background-green listview">

    <h2>{{ crop.name }}</h2>
    <h3><a class="lined-list" href="">{{ crop.name_hi }}</a></h3>
    {{ crop.summary }}
    {{ crop.summary_hi }}
    <strong>Season:</strong> {{ crop.season }}
    <strong>Soil Zones:</strong> {{ crop.soil_zone.all|join:", " }}
  </div>
{% endblock %}
