{% extends "phasal/base_generic_plantbase.html" %}
{% load static %}
{% block content %}
<div class="container-spacy background-green listview">
  <h2>List of Diseases</h2>
  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>


  {% if disease_list %}
  <!-- <ul class="lined-list"> -->
    <div class="grid-x">
      {% for disease in disease_list %}
      <!-- <li> -->

        <div class="cell large-4">
          <div class="item background-slate-blue">
            <a class="lined-list" href="{{ disease.get_absolute_url }}?name={{ disease.name }}">{{ disease.name }}</a> <p>({{disease.type}})</p>
            <img src="/media/{{ disease.diseasepic }}" alt="">
          </div>
        </div>

      <!-- </li> -->
      {% endfor %}
    </div>
  <!-- </ul> -->
  {% else %}
  <p>There are no diseases in the plantbase.</p>
  {% endif %}

</div>
{% endblock %}
