{% extends "phasal/base_generic_plantbase.html" %}

{% block content %}
  <h1>Disease: {{ disease.name }}</h1>

  <p><strong>Disease name hindi:</strong> {{ disease.name_hi }}</p>
  <p><strong>Disease description:</strong> {{ disease.description }}</p>
  <p><strong>Disease description hindi:</strong> {{ disease.description_hi }}</p>
  <p><strong>Disease type:</strong> {{ disease.type }}</p>
  <p><strong>Disease type hindi:</strong> {{ disease.type_hi }}</p>
  <p><strong>Disease diagnosis:</strong> {{ disease.diagnosis }}</p>
  <p><strong>Disease diagnosis hindi:</strong> {{ disease.diagnosis_hi }}</p>
  <p><strong>Disease causes:</strong> {{ disease.causes }}</p>
  <p><strong>Disease causes hindi:</strong> {{ disease.causes_hi }}</p>
  <p><strong>Disease prevention:</strong> {{ disease.prevention }}</p>
  <p><strong>Disease prevention hindi:</strong> {{ disease.prevention_hi }}</p>
  <p><strong>Disease treatment:</strong> {{ disease.treatment }}</p>
  <p><strong>Disease treatment hindi:</strong> {{ disease.treatment_hi }}</p>
  <p><strong>Disease stage:</strong> {{ disease.stage }}</p>
  <p><strong>Disease stage hindi:</strong> {{ disease.stage_hi }}</p>

  <div style="margin-left:20px;margin-top:20px">

  </div>
{% endblock %}
