{% extends "phasal/base_generic_plantbase.html" %}

{% block content %}
  <h1>District: {{ district.name }}</h1>

  <p><strong>District Hindi:</strong> <a href="">{{ district.name_hi }}</a></p>

  <div style="margin-left:20px;margin-top:20px">

  </div>
{% endblock %}
