{% extends "phasal/base_generic_plantbase.html" %}
{% load static %}
{% block content %}
<div class="container background-slate-blue">
  <div class="grid-x feature">
    <div class="cell large-8">
      <h2>Phasal</h2>
      <h1>AI Crop Information System.</h1>
    </div>
    <div class="cell large-4">
      <img class="logo" src="{% static 'plantbase/img/phasal.png' %}" style="width:400px;height:400px;" alt="PHASAL">
    </div>
  </div>
</div>
<div class="container-spacy features">
  <div class="grid-x">
    <div class="large-3 cell">
      <h1>{{ num_crops }}</h1>
      <h5>Crops</h5>
    </div>
    <div class="large-3 cell">
      <h1>{{ num_diseases }}</h1>
      <h5>Diseases</h5>
    </div>
    <div class="large-3 cell">
      <h1>{{ num_soil_zones }}</h1>
      <h5>Soil Zones</h5>
    </div>
    <div class="large-3 cell">
      <h1>{{ num_seasons }}</h1>
      <h5>Seasons</h5>
    </div>
  </div>
</div>
{% endblock %}
