{% extends "phasal/base_generic_plantbase.html" %}

{% block content %}
  <h1>Season: {{ season.name }}</h1>

  <p><strong>Season Hindi:</strong> <a href="">{{ season.name_hi }}</a></p>
  <p><strong>Start:</strong> {{ season.start_month }}</p>
  <p><strong>End:</strong> {{ season.end_month }}</p>

  <div style="margin-left:20px;margin-top:20px">

  </div>
{% endblock %}
