{% extends "phasal/base_generic_plantbase.html" %}

{% block content %}
  <h1>Zone: {{ soil.name }}</h1>

  <p><strong>Zone Hindi:</strong> <a href="">{{ soil.name_hi }}</a></p>
  <p><strong>Summary:</strong> {{ soil.characteristics }}</p>
  <p><strong>Summary Hindi:</strong> {{ soil.characteristics_hi }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <!--  -->
  </div>
{% endblock %}
