{% extends "phasal/base_generic_physician.html" %}
{% load static %}
{% block content %}
<div class="container-spacy background-green listview">
  <h2>List of Reports</h2>
  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>


  {% if report_list %}
  <!-- <ul class="lined-list"> -->
    <div class="grid-x">
      {% for report in report_list %}
      <!-- <li> -->

        <div class="cell large-4">
          <div class="item background-midnight">
            <a class="lined-list" href="{{ report.get_absolute_url }}?id={{ report.id }}">{{ report.uid }}</a>
            <p>{{ report.title }}</p>
            <p>({{ report.summary }})</p>
            <img src="/media/{{ report.photo }}" alt="">
            {% if report.prediction == "0" %}
              <p>Blast</p>
            {% endif %}
            {% if report.prediction == "1" %}
              <p>Blight</p>
            {% endif %}
            {% if report.prediction == "2" %}
              <p>Brown Spot</p>
            {% endif %}
          </div>
        </div>

      <!-- </li> -->
      {% endfor %}
    </div>
  <!-- </ul> -->
  {% else %}
  <p>There are no reports in the plantbase.</p>
  {% endif %}

</div>
{% endblock %}
