{% extends "phasal/base_generic_physician.html" %}
{% load static %}
{% block content %}

  <div class="container-spacy background-green listview">

    <h2>{{ report.title }}</h2>
    <img src="/media/{{ report.photo }}" alt="">
    <p>{{ report.uid }}</p>
    <p>{{ report.summary }}</p>
    {% if report.prediction == "0" %}
      <h2>Blast</h2>
    {% endif %}
    {% if report.prediction == "1" %}
      <h2>Blight</h2>
    {% endif %}
    {% if report.prediction == "2" %}
      <h2>Brown Spot</h2>
    {% endif %}

  </div>
{% endblock %}
