{% extends "phasal/base_generic_physician.html" %}
{% load static %}
{% block content %}
<div class="container-spacy background-green listview">
  <h2>SUCCESS</h2>
  <br>
    <div class="grid-y">
        <div class="large-12  cell">
          <div class="grid-x">
            <div class="large-12 cell">
            <a href="{% url 'reports' %}" class="button button-secondary">View Results</a>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
