{% extends "phasal/base_generic_physician.html" %}
{% load static %}
{% block content %}
<div class="container-spacy features">
  <h1>Enter details and upload photograph:</h1>
  <div class="grid-y">
    <form method = "post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="large-12  cell">
        <div class="grid-x">
          <div class="large-4 cell">
          <h5>{{ field.label }}</h5>
          </div>
          <div class="large-4 cell">
          <h5>:</h5>
          </div>
          <div class="large-4 cell">
          <h5>{{ field }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
      <button class="button button-secondary" type="submit">Upload</button>
    </form>
  </div>
</div>

{% endblock %}
