.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body{
  font-family: "Open Sans";

}

/*
** Headers
*/

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
}

.appname {
  text-align: center;
}

.logo {
  margin-left: 40px;
  margin-right: 40px;
}

/*
** Container
*/

.container {
  padding: 40px 120px;
}

.container-spacy {
  padding: 80px 120px;
}

/*
** Backgrounds
*/

.background-orange {
  background-color: #f8bc3b;
}

.background-green {
  background-color: #27ae60;
}

.background-grey {
  background-color: #3a3a3a;
}

.background-yellow {
  background-color: #fec400;
}

.background-baby-blue {
  background-color: #7ecefd;
}

.background-white {
  background-color: #fff;
}

.background-red {
  background-color: #db5940;
}

.background-pale-blue {
  background-color: #d1e1ed;
}

.background-slate-blue {
  background-color: #2c3e50;
}

.background-midnight {
  background-color: #1f1f1f;
}

.background-blue {
  background-color: #028ca6;
}

/*
** Header
*/

header#main {
  margin-bottom: 40px;
}

header#main .brand a {
  display: block;
  font-family: "Pacifico";
  font-size: 2em;
  color: #fff;//393f4a;
  margin-bottom: 20px;
}

/*
** Nav
*/

nav#main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav#main li {
  display: inline-block;
  margin-right: 20px;
}

nav#main li:last-child {
  margin: 0;
}

nav#main ul li a {
  font-size: 78%;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

nav#main ul li a:not(.button) {
  color: #fff;//393f4a;
}

/*
** Buttons
*/

.button {
  padding: 14px 30px;
  border-radius: 5px;
}

.button-primary,
.button-primary:hover {
  background: #fff;//3a3a3a;
  color: #028ca6;//fff;
}

.button-secondary,
.button-secondary:hover {
  background: #3a3a3a;
  color: #fff;
}

/*
** Feature
*/

.feature {
  margin-top: 20px;
}

.feature h1 {
  font-size: 6.6em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 85px;
  margin-bottom: 40px;
}

.feature h2 {
  font-size: 5.6em;
  color: #fff;
  text-shadow: 4px 4px 4px #1c313a;
  font-weight: 900;
  line-height: 85px;
  margin-bottom: 40px;
}

/*
** Features
*/

.features {
  text-align: center;
}

.features h5 {
  font-weight: 600;
  font-size: 2em;
}

.features p {
  font-size: 80%;
  margin-bottom: 40px;
}

.features img {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
}

/*
** Recent
*/

.listview {
  text-align: center;
}

.listview h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.listview p {
  margin-top: 8px;
  margin-bottom: 20px;
  color: #96eaba;
}

.listview .item {
  padding: 100px 0;
  margin: 30px;
}

.listview .item img {
  width: 150px;
  height: 150px;
}

.listview .show-more {
  margin-top: 40px;
  font-weight: 900;
}

.listview ul li a {
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.listview ul li.selected a {
  background: #fff;
  color: #028ca6;
}

.listview ul li a:hover {
  border: 2px solid #fff;
}

/*
** Lists
*/

.inline-list {
  list-style-type: none;
}

.inline-list li {
  display: inline-block;
  margin: 0 20px;
  margin-bottom: 20px;
}

.lined-list {
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.lined-list:hover {
  color: #96eaba;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.grad {
  background-image: linear-gradient(red, yellow, blue);
}
